body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  width: 100%;
  background-color: #fff;
  padding: 16px 0;
  position: fixed;
  z-index: 5;
}
.container {
  width: 50%;
  margin: 0 auto;
  position: relative;
  z-index: 4;
}
#inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo a {
  font-size: 30px;
  font-weight: bold;
  height: 70px;
  line-height: 35px;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
}
.menu a {
  color: #666;
  font-size: 13px;
  font-weight: bold;
  height: 70px;
  line-height: 40px;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  padding: 0 10px;
}
#blue {
  color: #28a7e9;
}
.menu :hover {
  color: #28a7e9;
}
#blue:hover {
  color: #666;
}
#home {
  width: 100%;
  height: 90vh;
  background: url("https://www.templatemo.com/templates/templatemo_446_boxer/images/home-bg.jpg")
    no-repeat;
  background-size: cover;
  z-index: 2;
  position: relative;
}
#box {
  position: absolute;
  top: 15%;
  left: 25%;
}
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(51, 51, 51, 0.3);
  z-index: 2;
}
#box h1 {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 36px;
  font-family: inherit;
  line-height: 1.1;
  color: #fff;
  text-align: center;
}
#box p {
  font-weight: 400;
  font-style: italic;
  line-height: 2em;
  color: #fff;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
#box img {
  margin-left: 80px;
  margin-top: 20px;
}

.divider {
  background-color: #fff;
  width: 100%;
  height: 30%;
}
#items {
  background-color: #fff;
  display: flex;
  margin-top: 50px;
}
.item {
  padding: 0 20px;
}
.item h3 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  line-height: 1.1;
  color: #343434;
}
.item p {
  line-height: 1.6em;
  margin: 0 0 10px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}
#icon {
  color: rgb(70, 169, 250);
  font-size: 60px;
  margin-left: 40%;
}

.software {
  background-color: #f8f8f8;
  width: 100%;
  height: 30%;
}
#featuress {
  justify-content: center;
  display: flex;
}
.feature {
  width: 50%;
  margin-top: 50px;
  margin-bottom: 50px;
}
.feature img {
  width: 100%;
  height: 100%;
}
.feature h2 {
  font-weight: bold;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: "Open Sans", sans-serif;
  color: #343434;
}
.feature p {
  padding-top: 10px;
  margin: 0 0 10px;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-weight: 200;
  color: #5e5e5e;
  font-size: 15px;
}
.feature i {
  color: #28a7e9;
  font-size: 40px;
  margin-right: 10px;
}
.softwaretwo {
  background-color: #fff;
  width: 100%;
  height: 30%;
}

.pricing {
  background-color: #f8f8f8;
  width: 100%;
  height: 70vh;
}
.prices {
  display: flex;
}
.price {
  width: 33%;
  margin: 0 15px;
}
#up {
  margin-top: -30px;
}
.title {
  height: 160px;
  background-color: #28a7e9;
  text-align: center;
}
.list {
  height: 280px;
  background-color: #fff;
  text-align: center;
}
#pricing h2 {
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
  color: #343434;
  padding-top: 50px;
  padding-bottom: 30px;
  text-align: center;
}
.big {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: #fff;
  font-size: 18px;
  padding-top: 10px;
}
.small {
  font-size: 85%;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  padding-top: 10px;
}
.list p {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #333;
  padding: 16px;
  margin: 0;
}
.sign {
  background-color: #fff;
  border: 1px solid;
  border-color: #28a7e9;
  color: #28a7e9;
  padding: 0.5rem 2rem;
  cursor: pointer;
}
.sign:hover {
  background-color: #28a7e9;
  border-color: #28a7e9;
  color: #fff;
  transition: 1s;
}

.download {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  border: 1px solid;
  padding: 0.5rem 2rem;
}
#dwn {
  color: #fff;
  font-size: 20px;
}

.contact {
  background: url(https://www.templatemo.com/templates/templatemo_446_boxer/images/contact-bg.jpg)
    no-repeat;
  width: 100%;
  height: 60vh;
  background-size: cover;
  z-index: 2;
  position: relative;
}
#contact{
  display: flex;
}
#adress{
  padding-top: 60px;
}
#adress h2 {
  color: #fff;
}
#adress p {
  color: #fff;
}
#adress i{
  background-color: #fff;
  border-radius: 50%;
}
